extends layout

block content

 .container
  .row.justify-content-md-center.align-items-center
   .col-9
    .alert.alert-info
      if error
        .alert.alert-danger(role='alert') #{error}
      form(name="login", action="/login", method="get", enctype="application/x-www-form-urlencoded")
        .form-group
          h1= Авторизация
          label(for='exampleInputEmail1') Email address
          input#exampleInputEmail1.form-control(name='email', type='email', aria-describedby='emailHelp', placeholder='Введите email')
          small#emailHelp.form-text.text-muted Мы никогда не передадим вашу электронную почту кому-либо еще.
        .form-group
          label(for='exampleInputPassword1') Password
          input#exampleInputPassword1.form-control(name='password', type='password', placeholder='Введите пароль')
          small#emailHelp.form-text.text-muted Пароль должен быть от 8-16 символов.
          p У вас нет аккаунта? &nbsp
           a(href="/registration") Зарегистрируйтесь
          p Вы забыли пароль? &nbsp
           a(href="/password") Восстановить
        .form-group.form-check
          input#exampleCheck1.form-check-input(type='checkbox')
          label.form-check-label(for='exampleCheck1') Запомнить меня
          button.btn.btn-primary(type='submit') Отправить
