p Привет,
p Спасибо за использование KMJ School! Пожалуйста, подтвердите свой адрес электронной почты, перейдя по ссылке ниже. Мы будем связывать с вами время от времени через электронную почту поэтому важно что мы имеем последнее адрес электронной почты в файле.
a(href=link) ссылка
p Если вы не зарегистрируетесь на блоге Blog KMJ School, Пожалуйста, игнорируйте это письмо.
p С уважением,
p KMJ School
