extends layout

block content
  .container
    .row
      .col-6
       .alert.alert-info
        .col-12
          .alert.alert-secondary
            h1.text-center Восстановление пароля
          form(name="password", action="/password", method="get", enctype="application/x-www-form-urlencoded")
            .form-group.row
              label.col-sm-2.col-form-label Email
              .col-sm-10
                input.form-control(name="email", type='email', placeholder='Email', value=query ? query.email : '')
                br
              .col-sm-10
                button.btn.btn-primary(type='submit') Отправить
