p Привет,
p Уважаемый ИМЯ, Вы сделали запрос на получение забытого пароля на сайте {MKJ Blog} Чтобы получить новый пароль, пройдите по ссылке ниже:
a(href=link) Восстановить пароль
p Если вы не делали запроса для получения пароля, то просто удалите данное письмо. Ваш пароль храниться в надежном месте и недоступен посторонним лицам.
p С уважением,
p KMJ School
